.header {
  padding: 1em;
  display: flex;
  align-items:center ;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* background-color: var(--background-color); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* opacity: .95; */
}

.header p {
  color: gray;
  font-size: .7rem;
  border: 1px solid gray;
  border-radius: 20px;
  padding: .5em 1em;
}

.header h1 {
  font-size: 2rem;
}

.footer {
  padding: 2em;
}

.footer p {
  color: gray;
  font-size: .8rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0rem; */
  margin: auto;
  min-height: 100vh;
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 2em;
  padding-top: 5em;
}

.info h1 {
  font-size: 4.5rem;
}

.info p {
  max-width: 40em;
}

.imagesection {
  padding: 3em;
  display: flex;
  gap: 3em;
}

.imagesection img {
  border-radius: 10px;
}

.revivepage {
  text-align: center;
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.revivepage h1 {
  font-size: 3.5rem;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  height: 15em;
  background: none;
  width: 50%;
  border: 2px solid gray;
  border-radius: 10px;
  border-style: dashed;
  outline: none;
  cursor: pointer;
}

.dropzone p {
  color: gray;
}

.innerdropzone {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.revampedsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

.buttonsection {
  display: flex;
  gap: 1em;
}

.buttonsection button:first-child{
  background: none;
  border: 2px solid white;
  color: white;
}

/* responsive */
@media (max-width: 1000px) {
  .imagesection img {
    max-width: 350px;
    max-height: 350px;
    /* width: 100%; */
  }
}

@media (max-width: 700px) {
  .imagesection {
    flex-direction: column;
  }

  .info {
    width: 95%;
  }

  .info h1 {
    font-size: 3rem;
  }

  .dropzone {
    width: 82%;
  }

}