.header {
  padding: 1em;
  display: flex;
  align-items:center ;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* background-color: var(--background-color); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* opacity: .95; */
}

.header p {
  color: gray;
  font-size: .7rem;
  border: 1px solid gray;
  border-radius: 20px;
  padding: .5em 1em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  margin: auto;
  min-height: 100vh;
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 2em;
  padding-top: 5em;
}

.info h1 {
  font-size: 4.5rem;
}

.info p {
  max-width: 40em;
}

.imagesection {
  padding-top: 3em;
  display: flex;
  gap: 3em;
}

/* responsive */
@media (max-width: 1000px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}
